@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@font-face {
  font-family: "BR_Shape_Regular";
  src: url(../assets/fonts/BR_Shape_Regular.otf) format("opentype");
}

@font-face {
  font-family: "BR_Shape_Bold";
  src: url(../assets/fonts/BR_Shape_Bold.otf) format("opentype");
}

@font-face {
  font-family: "BR_Shape_Medium";
  src: url(../assets/fonts/BR_Shape_Medium.otf) format("opentype");
}

@font-face {
  font-family: "BR_Shape_Semi_Bold";

  src: url(../assets/fonts/BR_Shape_Semi_Bold.otf) format("opentype");
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.box-shadow-feature-card {
  box-shadow: 0px 0px 0px 3px rgba(255, 184, 0, 0.04) inset;
}

.dot-background-feature-card {
  background-image: radial-gradient(#ffb80040 10%, transparent 10%);
  background-color: #ffffff;
  background-position: 0 0, 0 0;
  background-size: 15px 15px;
}
