@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@font-face {
  font-family: "BR_Shape_Regular";
  src: url(../assets/fonts/BR_Shape_Regular.otf) format("opentype");

}

@font-face {
  font-family: "BR_Shape_Bold";
  src: url(../assets/fonts/BR_Shape_Bold.otf) format("opentype");
}

@font-face {
  font-family: "BR_Shape_Medium";
  src: url(../assets/fonts/BR_Shape_Medium.otf) format("opentype");
}

@font-face {
  font-family: "BR_Shape_Semi_Bold";

  src: url(../assets/fonts/BR_Shape_Semi_Bold.otf) format("opentype");
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
